

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--body-bg);
  color: var(--fg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}

:root {
  --body-bg: #3f3f3f;
  --bg: #1f1f1f;
  --fg: #d4d4d4;
  --directory: #83a06c;
  --prompt: #83a06c;
  --cursor: var(--fg);
  --listItem: var(--fg);
  --listTitle: var(--fg);

  --fontSize: 13px;
  --fontFamily: 'Source Code Pro', monospace;
}

body.dark { }

body.light {
  --body-bg: #f3f3f3;
  --bg: #fefefe;
  --fg: #1e1e1e;
  --directory: #526e39;
  --prompt: #526e39;
  --cursor: var(--fg);
  --listItem: var(--fg);
  --listTitle: var(--fg);
}

body.laserwave {
  --body-bg: #1c1720;
  --bg: #27212e;
  --fg: #ffffff;
  --directory: #40b4c4;
  --prompt: #eb64b9;
  --cursor: var(--prompt);
  --listItem: var(--fg);
  --listTitle: var(--fg);
}

body.nord {
  --body-bg: #2e3440;
  --bg: #3b4252;
  --fg: #eceff4;
  --directory: #5e81ac;
  --prompt: #8fbcbb;
  --cursor: #88c0d0;
  --listItem: var(--fg);
  --listTitle: var(--fg);
}

body.dracula {
  --body-bg: #191a20;
  --bg: #282a35;
  --fg: #f8f8f2;
  --directory: #8be9fd;
  --prompt: #e97fc0;
  --cursor: #6272a4;
  --listItem: var(--fg);
  --listTitle: var(--fg);
}

body.greyscale {
  --body-bg: #2a2a2a;
  --bg: #1d1d1d;
  --fg: #fff;
  --directory: #888;
  --prompt: #7a7a7a;
  --cursor: var(--prompt);
  --listItem: var(--fg);
  --listTitle: var(--fg);
}

#terminal {
  background-color: var(--bg);
  box-sizing: border-box;
  width: 700px;
  height: 450px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  padding: 1.5em 0em;
}

#terminal-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0em 1.5em;
}

#terminal-content p {
  margin: 0px;
}

.prompt {
  display: flex;
}

#prompt-input {
  background-color: transparent;
  border: none;
  color: var(--fg);
  flex-grow: 1;
  padding: 0.5em;
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
}
#prompt-input:focus {
  outline: none;
}

.prompt-title {
  color: var(--prompt);
  padding: 0.5em 0em;
}

.prompt-cursor {
  color: var(--cursor);
  margin-left: 0.5em;
}

.prompt-text {
  padding: 0.5em;
  flex-grow: 1;
}

.terminal-output {
  margin: 0.5em 0em;
}

.ls-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.ls-item {
  padding: 0em 0.5em;
}

.ls-item.directory {
  color: var(--directory);
}

.default-list {
  margin: 0px;
  padding: 0em 1em;
}
